.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;

  @media screen and (max-width: 1460px) {
    align-self: center;
    max-width: 1024px;
  }

  /* when on a vertical screen, it changes the flex css from flex-wrap to single centered column display */
  @media screen and (max-width: 960px) {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

.center {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.search-box {
  align-self: center;
  padding: 16px;
  display: flex;
}

.button,
.input {
  background-color: inherit;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 1.2rem;
}

.input,
.button.search,
.button.prev {
  margin-right: 10px;
}

.button.prev,
.button.next {
  width: 200px;
}

.button.clear.disabled {
  display: none;
}

.input {
  color: var(--primary-color);
}

/* required to use !important to overwrite React Semantic UI css */
.ui.button {
  margin: 0px !important;
}
